<phpunit bootstrap="tests/bootstrap.php">
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src</directory>
      <file>init.php</file>
      <file>init_helpers.php</file>
      <file>tests/KintTestCase.php</file>
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-html" target="/tmp/coverage" />
  </logging>
  <php>
    <ini name="display_errors" value="On" />
    <ini name="display_startup_errors" value="On" />
    <env name="MYSQLI_HOST" value="localhost"/>
    <env name="MYSQLI_USER" value="root"/>
    <env name="MYSQLI_PASS" value=""/>
  </php>
</phpunit>
