/*** BASE STYLES ***/

.kint {
	padding: 0;
	margin: 10px 0;
	font-family: Consolas, "Courier New", monospace;
	font-size: 11pt;
	white-space: nowrap;
	overflow-x: auto;
}

.kint * {
	float: none !important;
	padding: 0;
	margin: 0;
}

.kint var {
	color: #0092db;
	font-style: normal;
}

.kint dfn {
	font-family: monospace;
	font-style: normal;
}

.kint a {
	color: #1d1e1e;
}

.kint pre {
	margin: 0 0 0 15px;
	padding: 5px;
	overflow-y: hidden;
	background-color: #e3ecf0;
	color: #1d1e1e;
	border: 1px solid #b6cedb;
}

.kint dt {
	border: 1px solid #b6cedb;
	color: #1d1e1e;
	display: block;
	font-weight: bold;
	list-style: none outside none;
	min-height: 18px;
	padding: 5px;
	background: #e3ecf0;
}

.kint dl {
	padding: 0 0 0 15px;
}

.kint>dl {
	padding: 0;
}

.kint dd {
	background: none !important;
	border: none !important;
	display: none;
}

.kint footer {
	padding: 0 3px 3px;
	font-size: .7em;
}

.kint span {
	color: #1d1e1e;
}

.kint::selection {
	background: #0092db;
	color: #fff;
}

.kint::-moz-selection {
	background: #0092db;
	color: #fff;
}

.kint::-webkit-selection {
	background: #0092db;
	color: #fff;
}

/*** PRECISION ELEMENT TARGETING ***/

.kint>dl>dt {
	background: #e3ecf0;
	background: -moz-linear-gradient(top, #e3ecf0 0, #c0d4df 100%);
	background: -webkit-linear-gradient(top, #e3ecf0 0, #c0d4df 100%);
	background: -o-linear-gradient(top, #e3ecf0 0, #c0d4df 100%);
	background: linear-gradient(top, #e3ecf0 0, #c0d4df 100%);
}

.kint>dl+dl {
	margin-top: 5px;
}

.kint>dl dl {
	border-left: 1px dashed #e3ecf0;
}

/*** TRACE ***/

.kint-trace .kint-source {
	line-height: 1.2em;
}

.kint-trace .kint-source span {
	padding-right: 1px;
	border-right: 3px inset #0092db;
	color: #999;
}

.kint-trace .kint-source .kint-highlight {
	background: #f0eb96;
}

.kint-trace dfn {
	min-width: 18px;
	display: inline-block;
	text-align: right;
}

.kint-trace var {
	margin-right: 5px;
}

/*** TABS ***/

.kint ul {
	list-style: none;
	padding-left: 10px;
}

.kint ul.kint-tabs {
	margin: 0 0 0 15px;
	padding-left: 0;
	background: #9dbed0;
	background: -moz-linear-gradient(top, #9dbed0 0, #b2ccda 100%);
	background: -webkit-linear-gradient(top, #9dbed0 0, #b2ccda 100%);
	background: -o-linear-gradient(top, #9dbed0 0, #b2ccda 100%);
	background: linear-gradient(to bottom, #9dbed0 0, #b2ccda 100%);
}

.kint ul.kint-tabs li {
	background: #e0eaef;
	cursor: pointer;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	margin: 0 5px 5px;
	padding: 0 12px 3px;
}

.kint ul.kint-tabs li+li {
	margin-left: 0;
}

.kint ul.kint-tabs li:hover {
	background: #ccdde5;
}

.kint ul.kint-tabs li.kint-active-tab {
	background: #e3ecf0;
	border: 1px solid #e3ecf0;
	border-top: 0;
	font-weight: bold;
	margin-top: -1px;
	padding-bottom: 3px;
	padding-top: 4px;
}

.kint>dl>dd>ul.kint-tabs>li.kint-active-tab {
	background: #c1d4df;
	border-color: #c1d4df;
}

.kint>dl>dd>ul.kint-tabs>li {
	background: #e0eaef;
}

.kint dt.kint-parent:hover+dd>ul>li.kint-active-tab {
	border-color: #0092db;
}

.kint.kint-trace ul.kint-tabs li {
	background: #c1d4df;
}

.kint.kint-trace ul.kint-tabs li.kint-active-tab {
	background: #e0eaef;
}

.kint ul:not(.kint-tabs)>li:not(:first-child) {
	display: none;
}

/*** HOVER STYLES ***/

.kint-report tr:hover>td>dl>dt,
.kint dt:hover {
	border: 1px solid #0092db;
}

.kint-report tr:hover>td>dl>dt>var,
.kint dt:hover var {
	color: #5cb730;
}

/*** PLUS ICON ***/

.kint-parent {
	cursor: pointer;
	white-space: nowrap;
}

.kint-plus {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAA8CAMAAACO5hB7AAAACVBMVEX///82b4tctzBls0NMAAAAQklEQVR42rWRIQ4AAAgCwf8/2qgER2BeuwJsgAqIzekMfMryPL9XQSkobE6vwKcsz/N7FfPvh09lnPf/b+7673+f0uHuAZ/EdkNQAAAAAElFTkSuQmCC") no-repeat scroll 0 0 transparent;
	display: inline-block;
	height: 15px;
	padding: 0;
	margin: 0 3px 0 0;
	vertical-align: middle;
	width: 15px;
}

.kint-minus {
	background-position: 0 -30px;
}

.kint-report tr:hover>td>dl>dt>.kint-plus,
.kint dt:hover .kint-plus {
	background-position: 0 -15px;
}

.kint-report tr:hover>td>dl>dt>.kint-minus,
.kint dt:hover .kint-minus {
	background-position: 0 -45px;
}

/*** REPORT ***/

.kint-report {
	border-collapse: collapse;
	margin: 2px 0;
	padding-left: 15px;
	border-spacing: 0;
	empty-cells: show;
}

.kint-report * {
	text-align: left;
	padding: 0;
	margin: 0;
	color: #1d1e1e;
	font-family: Consolas, "Courier New", monospace;
	font-size: 12px;
	overflow: hidden;
}

.kint-report dl dl {
	padding-left: 10px;
}

.kint-report dl pre {
	margin-left: 10px;
}

.kint-report pre {
	display: inline-block;
}

.kint-report td, .kint-report th {
	border: 1px solid #0092db;
	vertical-align: top;
}

.kint-report th:first-child {
	background: 0;
	border: 0;
}

table.kint-report tr:hover td {
	background: #e3ecf0;
	border-color: #5cb730;
}

.kint-report td:first-child,
.kint-report th {
	background: #c0d4df;
	font-weight: bold;
}

.kint-report tr:nth-of-type(2n) td {
	background: #e3ecf0;
	background: -moz-linear-gradient(top, #e3ecf0 0, #c0d4df 100%);
	background: -webkit-linear-gradient(top, #e3ecf0 0, #c0d4df 100%);
	background: -o-linear-gradient(top, #e3ecf0 0, #c0d4df 100%);
	background: linear-gradient(top, #e3ecf0 0, #c0d4df 100%);
}

.kint.kint-trace>dl>dt,
.kint-report tr td {
	background: #c0d4df;
	background: -moz-linear-gradient(top, #c0d4df 0, #e3ecf0 100%);
	background: -webkit-linear-gradient(top, #c0d4df 0, #e3ecf0 100%);
	background: -o-linear-gradient(top, #c0d4df 0, #e3ecf0 100%);
	background: linear-gradient(top, #c0d4df 0, #e3ecf0 100%);
}

/*** COLORS FOR DIFFERENT LOOPS [OPTIONAL] ***/

.kint-report td.kint-empty {
	background: #ffdada !important;
}

.kint_1>dl>dt {
	box-shadow: 3px 0 4px -3px #0ff inset;
}

.kint_2>dl>dt {
	box-shadow: 3px 0 4px -3px #800080 inset;
}

.kint_3>dl>dt {
	box-shadow: 3px 0 4px -3px #008000 inset;
}

.kint_4>dl>dt {
	box-shadow: 3px 0 4px -3px #808000 inset;
}

.kint_5>dl>dt {
	box-shadow: 3px 0 4px -3px #000080 inset;
}

.kint_6>dl>dt {
	box-shadow: 3px 0 4px -3px #f0f inset;
}

.kint_7>dl>dt {
	box-shadow: 3px 0 4px -3px #00f inset;
}

.kint_8>dl>dt {
	box-shadow: 3px 0 4px -3px #008080 inset;
}

.kint_9>dl>dt {
	box-shadow: 3px 0 4px -3px #0f0 inset;
}

.kint_10>dl>dt {
	box-shadow: 3px 0 4px -3px #ff0 inset;
}

.kint_11>dl>dt {
	box-shadow: 3px 0 4px -3px #800000 inset;
}

.kint_12>dl>dt {
	box-shadow: 3px 0 4px -3px #f00 inset;
}

.kint_13>dl>dt {
	box-shadow: 3px 0 4px -3px #000 inset;
}

.kint_14>dl>dt {
	box-shadow: 3px 0 4px -3px #808080 inset;
}

.kint_15>dl>dt {
	box-shadow: 3px 0 4px -3px #c0c0c0 inset;
}

.kint_16>dl>dt {
	box-shadow: 3px 0 4px -3px #fff inset;
}

.kint_17>dl>dt {
	box-shadow: 3px 0 4px -3px #c0d4df inset;
}

.kint-color-preview {
	box-shadow: 0 0 2px 0 #b6cedb;
	height: 16px;
	text-align: center;
	text-shadow: -1px 0 #FFF, 0 1px #FFF, 1px 0 #FFF, 0 -1px #FFF;
	width: 230px;
}

.kint-focused {
	box-shadow: 0 0 3px 2px #5cb730;
}