// Variables for themes to override
$spacing: 4 !default;
$color_size: 16 !default;

$backdrop-color: rgba(#fff, 0.9) !default;
$main-background: #e0eaef !default;
$secondary-background: #c1d4df !default;

$text-color: #1d1e1e !default;
$variable-name-color: #1d1e1e !default;
$variable-type-color: #0092db !default;
$variable-type-color-hover: #5cb730 !default;

$border-color: #b6cedb !default;
$border-color-hover: #0092db !default;
$border: 1px solid $border-color !default;

$foldout-max-size: calc(100vh - 100px) !default;
$foldout-zindex: 999999;

// IE flat out refuses to work with url mode unless it's base64 encoded... Stupid IE.
// <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 150"><g stroke-width="2" fill="#FFF"><path d="M1 1h28v28H1zm5 14h18m-9 9V6M1 61h28v28H1zm5 14h18" stroke="#379"/><path d="M1 31h28v28H1zm5 14h18m-9 9V36M1 91h28v28H1zm5 14h18" stroke="#5A3"/><path d="M1 121h28v28H1zm5 5l18 18m-18 0l18-18" stroke="#CCC"/></g></svg>
$caret-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMCAxNTAiPjxnIHN0cm9rZS13aWR0aD0iMiIgZmlsbD0iI0ZGRiI+PHBhdGggZD0iTTEgMWgyOHYyOEgxem01IDE0aDE4bS05IDlWNk0xIDYxaDI4djI4SDF6bTUgMTRoMTgiIHN0cm9rZT0iIzM3OSIvPjxwYXRoIGQ9Ik0xIDMxaDI4djI4SDF6bTUgMTRoMThtLTkgOVYzNk0xIDkxaDI4djI4SDF6bTUgMTRoMTgiIHN0cm9rZT0iIzVBMyIvPjxwYXRoIGQ9Ik0xIDEyMWgyOHYyOEgxem01IDVsMTggMThtLTE4IDBsMTgtMTgiIHN0cm9rZT0iI0NDQyIvPjwvZz48L3N2Zz4=") !default;

.kint-rich {
  font-size: 13px;
  overflow-x: auto;
  white-space: nowrap;
  background: $backdrop-color;

  &.kint-folder {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $foldout-zindex;
    width: 100%;
    margin: 0;
    display: none;

    &.kint-show {
      display: block;
    }

    dd.kint-folder {
      max-height: $foldout-max-size;
      padding-right: $spacing * 2px;
      overflow-y: scroll;
    }
  }

  &::selection,
  &::-moz-selection,
  &::-webkit-selection {
    background: $border-color-hover;
    color: $text-color;
  }

  .kint-focused {
    box-shadow: 0 0 3px 2px $variable-type-color-hover;
  }

  &,
  &::before,
  &::after,
  & *,
  & *::before,
  & *::after {
    box-sizing: border-box;
    border-radius: 0;
    color: $text-color;
    float: none !important;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    line-height: 15px;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  & {
    margin: ($spacing * 2px) 0;
  }

  dt,
  dl {
    width: auto;
  }

  dt,
  div.access-path {
    background: $main-background;
    border: $border;
    color: $text-color;
    display: block;
    font-weight: bold;
    list-style: none outside none;
    overflow: auto;
    padding: $spacing * 1px;

    &:hover {
      border-color: $border-color-hover;
    }
  }

  > dl dl {
    padding: 0 0 0 ($spacing * 3px);
  }

  // Caret styles
  dt.kint-parent > nav,
  > footer > nav {
    background: $caret-image no-repeat scroll 0 0 / 15px 75px transparent;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-right: 3px;
    vertical-align: middle;
  }

  dt.kint-parent:hover > nav,
  > footer > nav:hover {
    background-position: 0 (1 / 4 * 100%);
  }

  dt.kint-parent.kint-show > nav,
  > footer.kint-show > nav {
    background-position: 0 (2 / 4 * 100%);
  }

  dt.kint-parent.kint-show:hover > nav,
  > footer.kint-show > nav:hover {
    background-position: 0 (3 / 4 * 100%);
  }

  dt.kint-parent.kint-locked > nav {
    background-position: 0 (4 / 4 * 100%);
  }

  dt.kint-parent + dd {
    display: none;
    border-left: 1px dashed $border-color;
  }

  dt.kint-parent.kint-show + dd {
    display: block;
  }

  // Other styles
  var,
  var a {
    color: $variable-type-color;
    font-style: normal;
  }

  dt:hover var,
  dt:hover var a {
    color: $variable-type-color-hover;
  }

  dfn {
    font-style: normal;
    font-family: monospace;
    color: $variable-name-color;
  }

  pre {
    color: $text-color;
    margin: 0 0 0 ($spacing * 3px);
    padding: 5px;
    overflow-y: hidden;
    border-top: 0;
    border: $border;
    background: $main-background;
    display: block;
    word-break: normal;
  }

  .kint-popup-trigger,
  .kint-access-path-trigger,
  .kint-search-trigger {
    background: rgba($text-color, 0.8);
    border-radius: 3px;
    height: $color_size * 1px;
    font-size: $color_size * 1px;
    margin-left: 5px;
    font-weight: bold;
    width: $color_size * 1px;
    text-align: center;
    float: right !important;
    cursor: pointer;
    color: $main-background;
    position: relative;
    overflow: hidden;

    // Carefully balanced on multiple browsers
    line-height: $color_size * 1.1 * 1px;

    &:hover {
      color: $text-color;
      background: $main-background;
    }
  }

  // The &boxbox; icon is slightly higher than the &lrarr; icon,
  // so increase the line height to make it line out better
  dt.kint-parent > .kint-popup-trigger {
    line-height: $color_size * 1.2 * 1px;
  }

  // The &telrec; icon is slightly smaller than the &lrarr; icon,
  // so make it a bit bigger to line it out better
  .kint-search-trigger {
    font-size: $color_size * 1.25 * 1px;
  }

  input.kint-search {
    display: none;
    border: $border;
    border-top-width: 0;
    border-bottom-width: 0;
    padding: $spacing * 1px;
    float: right !important;
    margin: ($spacing * -1px) 0;
    color: $variable-name-color;
    background: $secondary-background;
    height: $color_size * 1px + $spacing * 2px;
    width: $color_size * 10px;
    position: relative;
    z-index: 100;

    &.kint-show {
      display: block;
    }
  }

  .kint-search-root ul.kint-tabs > li:not(.kint-search-match) {
    background: desaturate($secondary-background, 100%);
    opacity: 0.5;
  }

  .kint-search-root dl:not(.kint-search-match) {
    opacity: 0.5;

    > dt {
      background: desaturate($main-background, 100%);
    }

    dl,
    ul.kint-tabs > li:not(.kint-search-match) {
      opacity: 1;
    }
  }

  div.access-path {
    background: $secondary-background;
    display: none;
    margin-top: 5px;
    padding: 4px;
    white-space: pre;

    &.kint-show {
      display: block;
    }
  }

  footer {
    padding: 0 3px 3px;
    font-size: 9px;
    background: transparent;

    > .kint-popup-trigger {
      background: transparent;
      color: $text-color;
    }

    nav {
      height: 10px;
      width: 10px;
      background-size: 10px 50px;
    }

    > ol {
      display: none;
      margin-left: 32px;
    }

    &.kint-show {
      > ol {
        display: block;
      }
    }
  }

  a {
    color: $text-color;
    text-shadow: none;
    text-decoration: underline;

    &:hover {
      color: $variable-name-color;
      border-bottom: 1px dotted $variable-name-color;
    }
  }

  // Tab styles
  ul {
    list-style: none;
    padding-left: $spacing * 3px;

    &:not(.kint-tabs) {
      li {
        border-left: 1px dashed $border-color;

        > dl {
          border-left: none;
        }
      }
    }

    &.kint-tabs {
      margin: 0 0 0 ($spacing * 3px);
      padding-left: 0;
      background: $main-background;
      border: $border;
      border-top: 0;

      > li {
        background: $secondary-background;
        border: $border;
        cursor: pointer;
        display: inline-block;
        height: $spacing * 6px;
        margin: round($spacing / 2) * 1px;
        padding: 0 (2px + round($spacing * 2.5px));
        vertical-align: top;

        &:hover,
        &.kint-active-tab:hover {
          border-color: $border-color-hover;
          color: $variable-type-color-hover;
        }

        &.kint-active-tab {
          background: $main-background;
          border-top: 0;
          margin-top: -1px;
          height: 27px;
          line-height: 24px;
        }

        &:not(.kint-active-tab) {
          line-height: $spacing * 5px;
        }
      }

      li + li {
        margin-left: 0;
      }
    }

    &:not(.kint-tabs) > li:not(:first-child) {
      display: none;
    }
  }

  dt:hover + dd > ul > li.kint-active-tab {
    border-color: $border-color-hover;
    color: $variable-type-color-hover;
  }

  dt > .kint-color-preview {
    width: $color_size * 1px;
    height: $color_size * 1px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    border: $border;
    background: {
      color: #ccc;
      image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="%23FFF" d="M0 0h1v2h1V1H0z"/></svg>');
      size: if($color_size >= 30, 30px, 100%);
    }

    &:hover {
      border-color: $border-color-hover;
    }

    > div {
      width: 100%;
      height: 100%;
    }
  }

  // Table representation
  table {
    border-collapse: collapse;
    empty-cells: show;
    border-spacing: 0;

    * {
      font-size: 12px;
    }

    dt {
      background: none;
      padding: $spacing / 2 * 1px;

      .kint-parent {
        min-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    td,
    th {
      border: $border;
      padding: $spacing / 2 * 1px;
      vertical-align: center;
    }

    th {
      cursor: alias;
    }

    td:first-child,
    th {
      font-weight: bold;
      background: $secondary-background;
      color: $variable-name-color;
    }

    td {
      background: $main-background;
      white-space: pre;

      > dl {
        padding: 0;
      }
    }

    pre {
      border-top: 0;
      border-right: 0;
    }

    thead th:first-child {
      background: none;
      border: 0;
    }

    tr:hover {
      > td {
        box-shadow: 0 0 1px 0 $border-color-hover inset;
      }

      var {
        color: $variable-type-color-hover;
      }
    }

    ul.kint-tabs li.kint-active-tab {
      height: 20px;
      line-height: 17px;
    }
  }

  // Source representation
  pre.kint-source {
    margin-left: -1px;

    &[data-kint-filename]:before {
      display: block;
      content: attr(data-kint-filename);
      margin-bottom: $spacing * 1px;
      padding-bottom: $spacing * 1px;
      border-bottom: 1px solid $secondary-background;
    }

    > div:before {
      display: inline-block;
      content: counter(kint-l);
      counter-increment: kint-l;
      border-right: 1px solid $border-color-hover;
      padding-right: $spacing * 2px;
      margin-right: $spacing * 2px;
    }

    > div.kint-highlight {
      background: $secondary-background;
    }
  }

  // Microtime representation
  .kint-microtime-lap {
    text-shadow: -1px 0 $border-color-hover, 0 1px $border-color-hover, 1px 0 $border-color-hover, 0 -1px $border-color-hover;
    color: $main-background;
    font-weight: bold;
  }
}
