// $author Ante Aljinovic https://github.com/aljinovic
// modified dark version

@use "sass:color";
@use "kint";

.kint-rich {
  @include kint.rich();

  // TODO: Remove after mixed decls is released (https://sass-lang.com/documentation/breaking-changes/mixed-decls/)
  & {
    --main-background: #{color.invert(#f8f8f8)};
    --secondary-background: #{color.invert(#f8f8f8)};

    --variable-type-color: #{color.invert(#06f)};
    --variable-type-color-hover: #{color.invert(#f00)};

    --border-color: #{color.invert(#d7d7d7)};
    --border-color-hover: #{color.invert(#aaa)};

    --backdrop-color: #{rgba(color.invert(#fff), 0.9)};
    --text-color: #{color.invert(#1d1e1e)};
    --variable-name-color: #{color.invert(#1d1e1e)};

    --alternative-background: #{color.invert(#fff)};
    --highlight-color: #{color.invert(#cfc)};

    --caret-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 150'><path d='M6 7h18l-9 15zm0 30h18l-9 15zm0 45h18l-9-15zm0 30h18l-9-15zm0 12l18 18m-18 0l18-18' fill='%23AAA'/><path d='M6 126l18 18m-18 0l18-18' stroke-width='2' stroke='%23AAA'/></svg>");
  }
}
