$spacing: 5;

// base 03
$main-background: #002b36;

// base 02
$secondary-background: #073642;

// base 0
$text-color: #839496;

// base 1
$variable-name-color: #93a1a1;

// blue
$variable-type-color: #268bd2;

// cyan
$variable-type-color-hover: #2aa198;

// base 01
$border-color: #586e75;

// blue
$border-color-hover: #268bd2;

%keyboard-caret {
  // green
  box-shadow: 0 0 3px 2px #859900 inset;
  border-radius: 7px;
}

@import "base";

body {
  background: $secondary-background;

  // for non-kint elements to remain at least semi-readable
  color: #fff;
}

.kint {
  background: $secondary-background;
  box-shadow: 0 0 5px 3px $secondary-background;

  > dl > dt,
  ul.kint-tabs {
    box-shadow: 4px 0 2px -3px $variable-type-color inset;
  }
}

.kint ul.kint-tabs li.kint-active-tab {
  padding-top: 7px;
  height: 34px;
}

// mini trace
.kint footer li {
  color: #ddd;
}
