@import "../../less/modular-window";

@default-font: Consolas, "Courier New", monospace;
@spacing : 4;

@main-background: #e0eaef;
@secondary-background: #c1d4df;

@text-color: #1d1e1e;
@variable-name-color: #1d1e1e;
@variable-type-color: #0092db;
@variable-type-color-hover: #5cb730;

@border-color: #b6cedb;
@border-color-hover: #0092db;