<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{page.title}} | {% endif %}{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    {% for author in site.authors %}<meta name="author" content="{{ author }}">
    {% endfor %}
    <link href="{{ site.baseurl }}/style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/images/logo.png" />
</head>
<body data-spy="scroll" data-target="#leftmenu">
    <header class="main-header" id="overview">
        <div class="container">
            <h1><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logo.png" class="logo">Kint</a></h1>

            <p class="lead">
                Zero-setup replacement for
                <strong><a href="http://php.net/manual/en/function.var-dump.php">var_dump()</a></strong>.
            </p>
        </div>
    </header>

    <div class="actions-bar" data-spy="affix" data-offset-top="{{ site.affix_offset }}">
        <div class="container">
            <ul class="nav nav-pills">
                <li class="active"><a href="https://raw.githubusercontent.com/kint-php/kint/master/build/kint.phar">Download master phar</a></li>
                <li><a href="https://github.com/kint-php/kint/" target="_blank">Github</a></li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      Docs <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for item in site.data.menu %}<li{% if page.url == item.url %} class="active"{% endif %}><a href="{{ site.baseurl }}{{ item.url }}">{{ item.text }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <main class="container"><div class="row">{{ content }}</div></main>

    <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/js/prettify.js"></script>
    <script src="{{ site.baseurl }}/js/scripts.js"></script>
</body>
</html>
